<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/header :: common-header" />
</head>
<body>
<!-- Static navbar -->
<div th:replace="common/header :: navbar" />
<p>Type your name</p>

<form th:action="@{/person}"  method="get">
    <input type="text"  th:name="name"/>
    <button type="submit">Search</button>
</form>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
